header {
  padding: 15px 0;
  background: rgb(208,207,255);
background: linear-gradient(90deg, rgba(208,207,255,1) 27%, rgba(56,224,255,1) 87%);
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-weight: 500;
}